
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


form.signup,
form.login {
  margin-top: 50px;
}

*{
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login label
{
  font-size:1.1rem;
  padding-bottom:4px;
  font-weight:500;
}

.logo
{
  border-radius:10px;
  padding-top:20px;

}

.background-active {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
}
.background-active:before {
  content: "";
  position: absolute;
  background: url("../images/background-1.jpeg");
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  height: 20%; width: 20%; /* Using Glen Maddern's trick /via @mente */

  /* don't forget to use the prefixes you need */
  transform: scale(5);
  transform-origin: top left;
  filter: blur(0.4px);
}

.login-container
{
  background-color:rgba(255, 255, 255, 0.9);
  padding:20px;
  border-radius:6px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
}